/*全局样式*/

.height100percent {
  height: 100%;
}

.whiteBackground {
  background-color: #ffffff;
}

.ant-table td {
  white-space: nowrap;
}

.ant-table-thead > tr > th {
  text-align: center;
}

.ant-form-item {
  margin-bottom: 8px;
}
